html, body {
    padding: 0;
    margin: 0;

    font: 12px Arial;
    color: #333;
}

a:visited {
    color: inherit;
}

div#wrapper {
    padding: 10px;
} 

div#contractTemplate {
    display: none;
}

div#switcher {
    line-height: 24px;
    margin-top: 14px;
}

div#contracts {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div#contracts .contract-wrapper {
    display: inline-block;
    width: 200px;

    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #bbb;

    padding: 10px;
    margin-right: 10px;
}

div#contracts .contract-wrapper:last-child {
    margin-right: 0;
}

div#contracts .contract-wrapper div {}

div#contracts div.contract-name {
    font-size: 13px;
}

div#contracts div.contract-number {
    color: #999;
}

div#contracts div.contract-balance-wrapper {
    border-radius: 3px;
    box-shadow: inset #B9B9B9 0 0 100px;
    padding: 10px;
    text-align: center;
}

div#contracts div.contract-balance {
    font-size: 24px;
}

div#contracts div.contract-balance.positive {
    color: darkgreen;
}
div#contracts div.contract-balance.negative {
    color: darkred;
}



div#contracts div.contract-balance:after {
    content: ' ₽';
    font-weight: 200;
}

div#contracts div.contract-balance-note {}

div#contracts div.contract-refresh {
    text-align: center;
    cursor: pointer;
}

div#contracts div.contract-refresh span {    
    border-bottom: 1px dashed;
}

div#contracts div.contract-promised-payment-wrapper {
    display: none;
}

div#contracts div.contract-updated {
    padding-top: 5px;
    border-top: 1px dashed #cccccc;
    font-size: 10px;
    color: #999;    
}

div#contracts div.contract-error-wrapper {
    display: none;
}

.mb7 {
    margin: 0 0 7px 0;
}
.warning {
    color: red;
}

.visible-true { display: block !important; }
.visible-false { display: none !important; }